<%= form_with(model: about, local: true) do |form| %>
  <% if about.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(about.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% about.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <label for="formGroupExampleInput2" style="font-size: 22px"><%= form.label :about %></label>
    <%= form.text_area :about, :rows => 20 , class: 'form-control' ,id:"formGroupExampleInput", placeholder:"About" %>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-success", style:"width:100%"%>
  </div>
<% end %>
